


.lambo{
    height: 200px;
    width: 400px;
    padding-top: 170px;
    background-color: #A9A9A9;
    border-radius: 25px;
    border-top: 25px;

}
h1{
    font-family: "Brush Script MT";
    font-size: xxx-large;
}

body{
    height: 896px;
    background-color: #A9A9A9;
}

div{

}